<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <head th:replace="/layout :: head"></head>
</head>
<body>
<h3>Form edit</h3>
<form id="form" th:object="${product}" method="post">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Price</label>
        <input type="text" th:field="*{price}"/>
    </div>
<!--    <div>-->
<!--        <label>Category</label>-->
<!--        <input readonly type="text" th:field="*{category.name}"/>-->
<!--    </div>-->
    <button type="submit">Edit</button>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
